<div class="banner-feature-area theme-color-3 pt-62 pb-60 pt-sm-56 pb-sm-20">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <div class="banner-single-feature text-center mb-sm-30">
                  <i class="ion-paper-airplane"></i>
                  <h4>100% CUSTUMER SATISFACTION</h4>
                  <p class="text-white">We’re one of the furniture online retailers, who offer free of charge delivery</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <div class="banner-single-feature text-center mb-sm-30">
                  <i class="ion-ios-time-outline"></i>
                  <h4>TOP BRAND PRODUCTS</h4>
                  <p class="text-white">Our unique return policy will allow you to return furniture for almost a year</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <div class="banner-single-feature text-center mb-sm-30">
                  <i class="ion-trophy"></i>
                  <h4>BEST QUALITY</h4>
                  <p class="text-white">Purchasing furniture with us comes with warranty, than anyone else offers!</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- banner feature end -->

<!-- footer area start -->
<footer style="background-color:#333;">

 
  <!-- footer widget area start -->
  <div class="footer-widget-area pt-62 pb-56 pb-md-26 pt-sm-56 pb-sm-20">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="footer-widget">
                      <div class="footer-widget-title">
                          <h3>About</h3>
                      </div>
                      <div class="footer-widget-body">
                          <p align="justify">We at HS Retails provide some of the best products available online at best prices.We have many categories and provide a large range of basic and best products.</p>
                      </div>
                     
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="footer-widget">
                      <div class="footer-widget-title">
                          <h3>Quick link</h3>
                      </div>
                      <div class="footer-widget-body">
                          <ul class="useful-link">
                              <li><a href="index.html">Home</a></li>
                              <li><a href="about-us.html">About Us</a></li>
                              <li><a href="product.html">Product</a></li>
                              <li><a href="services.html">Services</a></li>
                              <li><a href="contact-us.html">Contact</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="footer-widget">
                     <div class="footer-widget-title">
                          <h3>Contact Details</h3>
                      </div>
                      <div class="footer-widget-body">
                          <ul class="address-box li-text">
                              <li> <i class="fa fa-map-marker" style="padding-right:10px;"> </i>                                      
                                  C-79, Second Floor, Ardee City, Sec-52, Gurugram 122011
                              </li>
                              <li><i class="fa fa-phone" style="padding-right:10px;"></i>
                                  +91-9560711788
                              </li>
                              <li><i class="fa fa-envelope" style="padding-right:10px;"></i>
              hsrawatt1980@yahoo.in
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- footer widget area end -->

  <!-- footer botton area start -->
  <div class="footer-bottom-area">
      <div class="container">
          <div class="bdr-top pt-18 pb-18">
              <div class="row align-items-center">
                  <div class="col-md-6 order-2 order-md-1">
                      <div class="copyright-text">
                          <p>copyright <a href="#">HS Retails</a>. All Rights Reserved. Developed By <a href="#">Softzenia</a></p>
                      </div>
                  </div>
                 
              </div>
          </div>
      </div>
  </div>
  <!-- footer botton area end -->

</footer>
