<div class="page-section pt-50 pb-14 pt-sm-60 pb-sm-0">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title text-center pb-44">
                  
                  <h2>Latest products</h2>
              </div>
          </div>
      </div>
      <div class="row product-carousel-one spt slick-arrow-style" data-row="2">
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j1.jpg" alt="product image">
                      </a>                          
                  </div>
                  <div class="product-description text-center">                            
                      <div class="product-name">
                          <h3><a href="product-details.html">Endeavor Daytrip</a></h3>
                      </div>                          
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j2.jpg" alt="product image">
                      </a>                           
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Crown Backpacks</a></h3>
                      </div>                         
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j3.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Joust Duffle Bags</a></h3>
                      </div>                          
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j4.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Chaz Kangeroo Hoodies</a></h3>
                      </div>                           
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j5.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Compete Track Totes</a></h3>
                      </div>                            
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j6.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Driven Backpacks</a></h3>
                      </div>                           
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j7.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="">Bess Yoga Shorts</a></h3>
                      </div>                          
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j8.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Fusion Backpacks</a></h3>
                      </div>                           
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j9.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Summit Backpacks</a></h3>
                      </div>                           
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j10.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Joust Duffle Bags</a></h3>
                      </div>                           
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j11.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Summit Backpacks</a></h3>
                      </div>                           
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="product-item mb-20">
                  <div class="product-thumb">
                      <a href="product-details.html">
                          <img src="assets/img/product/product-j12.jpg" alt="product image">
                      </a>
                  </div>
                  <div class="product-description text-center">
                      <div class="product-name">
                          <h3><a href="#">Joust Duffle Bags</a></h3>
                      </div>                          
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>