<div class="about-us-wrapper pt-98 pb-100 pt-sm-58 pb-sm-58" style="background-color:#efefef;">
  <div class="container">
      <div class="row">
          <div class="col-xl-6 col-lg-6">
              <div class="about-text-wrap">
                  <h2><span>About</span>HS Retails</h2>
                  <p align="justify">We at HS Retails provide some of the best products available online at best prices.We have many categories and provide a large range of basic and best products.We choose our products specifically and avoid quantity and concentrate on the quality.Apart from products we have some services also which we give to our customers at reasonable rates.</p>
                  <p align="justify">We have some of the unique products and prices are generally less.Delivery time is generally 2-5 days.Some products have cash on delivery and some have advance payment option only.Exhibitions are done often at various places and products are also available as per the festivals.</p>
                  <p align="justify">We are based in Sector 52 Gurgaon, Haryana, India.Our retail store is in Corona Optus sector 37 as HS Retails Shop No.7</p>
              </div>
          </div>
<div class="col-xl-5 col-lg-6 ml-auto">
              <div class="about-image-wrap">
                  <img src="assets/img/about/about-home.jpg" alt="About" />
              </div>
          </div>
      </div>

  </div>
</div>